/* commons */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header */
header{
    height: 100px;
}

.container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* main */
main{
    background-color:skyblue;
}

.container-square{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.safe{
    background-color: lightgreen;
}

.bomba{
    background-color: red;
}

/* debug */

/* .debug main{
    height: 500px;
} */